// <BUTTON>
// Snippet code "a.btn"
.btn {
  display: inline-block;
  padding: 6px 15px 7px 15px;
  @include adaptiveValue('padding-top', 6, 3);
  @include adaptiveValue('padding-bottom', 7, 4);
  @include adaptiveValue('padding-left', 15, 7);
  @include adaptiveValue('padding-right', 15, 7);

  color: #fff;
  background-color: #5f2eea;
  transition: all 0.3s ease 0s;

  @include adaptiveValue('font-size', 16, 13);

  @media (hover: hover) {
    &:hover {
      background-color: #5025c7;
    }
  }

  @media (hover: none) {
    &:active {
      background-color: #5025c7;
    }
  }
}
// </BUTTON>
