.header {
  padding: 30px 0;
  @include adaptiveValue('padding-top', 30, 15);
  @include adaptiveValue('padding-bottom', 30, 15);
  background-color: #e8e8ff;

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $tablet) {
      flex-direction: column;
      gap: 10px;
    }
  }

  &__logo {
    font-size: 32px;
    @include adaptiveValue('font-size', 32, 20);
    font-weight: 700;
  }

  &__content {
    display: flex;
    align-items: center;
    gap: 15px;

    @media (max-width: 600px) {
      flex-direction: column;
      gap: 20px;
    }
  }

  &__text {
    color: #646464;
    font-size: 24px;
    @include adaptiveValue('font-size', 24, 16);

    @media (max-width: 600px) {
      text-align: center;
    }
  }

  &__arrow {
    width: 105px;
    height: 15px;
    @include adaptiveValue('width', 105, 60);
    position: relative;
    top: 3px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    @media (max-width: 600px) {
      display: none;
    }
  }

  &__button {
    @media (max-width: 600px) {
      text-align: center;
    }
  }
}
